/* src/components/Navbar.css */

.navbar {
    transition: top 0.3s ease-in-out;
    background-color: #00b3ff7f; /* Navbar background color */
    color: #d0d0d0; /* Navbar text color */
  }
  
  .navbar-brand, .nav-link {
    color: #d0d0d0 !important; /* Navbar link text color */
  }
  
  .nav-link.active {
    color: #d0d0d0 !important; /* Active link text color */
  }
  
  .navbar-toggler-icon {
    color: #d0d0d0; /* Navbar toggle icon color */
  }
  
  .navbar-toggler {
    border-color: #d0d0d0; /* Navbar toggle button border color */
  }
  
  .navbar-nav .nav-item {
    margin-right: 10px; /* Navbar item margin */
  }
  
  .navbar-nav .nav-item:last-child {
    margin-right: 0; /* Remove margin for last navbar item */
  }
  
  .navbar {
    background-color: #00b3ff7f !important;
  }
  
  .nav-down {
    top: 0; /* Navbar position when visible */
  }
  
  .nav-up {
    top: -80px; /* Navbar position when hidden */
  }
  